.policy {
  position: absolute;
  right: 96px;
  font-size: 14px;
  margin-top: 20px;
}

.copyright {
  position: absolute;
  left: 96px;
  font-size: 14px;
  margin-top: 20px;
}

.footer-paragraph {
  margin-bottom: 10px;
  margin-top: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
