.policy {
  position: absolute;
  margin-left: 90vw;
}

.copyright {
  position: absolute;
  margin-left: 10vw;
}

.footer-paragraph {
  margin-bottom: 10px;
  margin-top: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
